<?xml version="1.0"?>
<launch>
  <node name="bebop_control" pkg="bebop_control" type="singleDrone" />
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node pkg="mocap_optitrack"
    type="mocap_node"
    name="mocap_node"
    respawn="false"
    launch-prefix=""
    required="true">
    <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
  </node>
</launch>
